.board {
    position: relative;
    margin: 100px auto;
    width: 1100px;
}

.board__grid {
    background-color: #f8f9fa;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    max-width: 650px;
}

.board__components-list {
    display: flex;
    flex-direction: column;
}

.board__cell {
    flex: 0 0 auto;
    min-width: 1px;
    position: relative;
    box-sizing: border-box;
    height: 70px;
    margin-bottom: 1px;
}

.board__cell::before {
    content: "";
    width: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
}

.board__cell::after {
    content: "";
    width: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
}

.board__cell--vr-ghost {
    width: 20px;
    height: 70px;
}

.board__cell+.board__cell {
    margin-left: 20px;
}

.board__row-placeholder {
    height: 20px;
    background-color: #dbe4ff;
    border: 1px dashed #748ffc;
}

.board__row {
    width: 100%;
    display: flex;
}

.board__drop-row {
    width: 100%;
    height: 30px;
    transition: all ease-in-out 0.3s 0.15s;
}

.board__item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 3.5;
    transition: all ease 0.3s;
}

.board__item--fade-in {
    animation-name: board__item---fade-in;
    animation-delay: 0s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes board__item---fade-in {
    10% {
        transform: scale(0.2);
    }

    45% {
        transform: scale(1);
    }

    to {
        transform: scale(0.6);
    }
}

.board__hr-placeholder-marker {
    position: absolute;
    background-color: #4263eb;
    height: 2px;
    width: 640px;
}

.board__vr-placeholder-marker {
    position: absolute;
    background-color: #4263eb;
    height: 70px;
    width: 2px;
}